<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" style="    box-shadow: 0px 0px 10px rgba(0 0 0 );
">
  <a class="navbar-brand" href="#"><h1>Portfolio</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#home" class="nav-link active">HOME</a>
      </li>
      <li class="nav-item">
        <a href="#aboutMe" class="nav-link">About Me</a>
      </li>
      <li class="nav-item">
        <a href="#card" class="nav-link">Portfolio</a>
      </li>
      <li class="nav-item">
        <a href="#blog" class="nav-link">Blog</a>
      </li>
      <li class="nav-item">
        <a href="#form" class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid" style="max-width: 100%; margin: 0 auto; height: auto;" id="home">
  <img class="pt-5" src="/assets/images/bot-4.png" alt="bots" style="width: 100%; height: auto; display: block;">
</div>

<hr style="color: aqua;">

<div class="container bg-dark justify-content-center text-align-center p-5" id="aboutMe">
  <h3 id="h3" style="text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5 );">About Me</h3>
  <br>
  <i><b>Lorem ipsum</b> dolor sit amet consectetur adipisicing elit. <br>
     Aliquid enim doloribus qui sit aperiam in sunt nisi, <br>
     harum ea vel dignissimos excepturi, <br>
     fugiat cupiditate vero consequatur animi ullam, <br>
     ratione inventore?
  </i>    
</div>

<hr style="color: aqua;">

<div class="container-fluid p-3 mt-5" id="card">
  <div class="row">
    <div class="col-sm-4 mb-3 mb-sm-0">
      <div class="card bg-dark">
        <img src="/assets/images/ai-generated.jpg" alt="Card image" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Card TITLE</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Numquam ipsum illo unde corrupti esse ducimus perferendis totam dolor modi 
            doloribus et deleniti nisi ut aut at praesentium, laboriosam delectus? 
            Natus!
          </p>
          <a href="#" class="btn">Go somewhere</a>
        </div>
      </div>
    </div>
    
    <div class="col-sm-4 mb-3 mb-sm-0">
      <div class="card bg-dark">
        <img src="/assets/images/ai-generated.jpg" alt="Card image" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Card TITLE</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Numquam ipsum illo unde corrupti esse ducimus perferendis totam dolor modi 
            doloribus et deleniti nisi ut aut at praesentium, laboriosam delectus? 
            Natus!
          </p>
          <a href="#" class="btn">Go somewhere</a>
        </div>
      </div>
    </div>
    
    <div class="col-sm-4">
      <div class="card bg-dark">
        <img src="/assets/images/ai-generated.jpg" alt="Card image" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Card TITLE</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Numquam ipsum illo unde corrupti esse ducimus perferendis totam dolor modi 
            doloribus et deleniti nisi ut aut at praesentium, laboriosam delectus? 
            Natus!
          </p>
          <a href="#" class="btn">Go somewhere</a>
        </div>
      </div>
    </div>  
  </div>
</div>

<div class="container mt-5" id="blog">
  <div class="content-container" id="text-blog">
    <div class="page-content" style="height: 420px;" id="page1">
      <h2>Pagina1</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Deleniti laudantium, labore ipsam officiis nulla earum reprehenderit 
        magnam aut saepe facere voluptate quidem consectetur placeat itaque 
        aliquid veritatis consequatur, 
        fugiat corporis!
      </p>
    </div>
    <div class="page-content" style="height: 420px;" id="page2">
      <h2>Página 2</h2>
      <p>Lorem ipsum dolor sit amet consectetur, 
        adipisicing elit. Eius tempora, 
        illum quisquam cumque perspiciatis ut ad, 
        dicta possimus consequuntur quae magni soluta 
        numquam vero optio, corrupti saepe fugiat
         commodi repudiandae?
        </p>
    </div>
    
    <div class="page-content" style="height: 420px;"  id="page3">
      <h2>Página 3</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Architecto dolorum ipsa ut esse, magni ea porro tempora,
         rerum, beatae deleniti atque rem.
         Veritatis nihil fugit dolore non rerum soluta quas!</p>
    </div>
  </div>
  <nav aria-label="Pages navigation">
    <ul class="pagination justify-content-center mt-5 p-3">
      <li class="page-item disabled"><a href="#" class="page-link">Previous</a></li>
      <li class="page-item active"><a href="#page1" class="page-link">1</a></li>
      <li class="page-item"><a href="#page2" class="page-link">2</a></li>
      <li class="page-item"><a href="#page3" class="page-link">3</a></li>
      <li class="page-item"><a href="#" class="page-link">Next</a></li>
    </ul>
  </nav>
</div>

<hr style="color: #00ffff; border-width: 3px;">

<div class="container" id="form" >
  <form action="process" method="post" class="row g-3 needs-validation justify-content-center" id="form" novalidate>
    <div class="header"><h1>Form</h1></div>
    <label for="validationCustom01" class="form-label">First name</label>
    <input type="text" class="form-control" id="validationCustom01" value="" placeholder="First name" required>
    <div class="valid-feedback">
      Looks good!
    </div>

    <label for="validationCustom02" class="form-label">Last name</label>
    <input type="text" class="form-control" id="validationCustom02" value="" placeholder="Last name" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  
    <label for="validationCustomUsername" class="form-label">Username</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
      <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" placeholder="Username" required>
      <div class="invalid-feedback">
        Please choose a username.
      </div>
    </div>
  
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
</div>


<nav class="navbar navbar-dark bg-dark">
  <div class="container justify-content-center">
    <span class="navbar-text">
      <b>© 2023 Meu Site | All Rights Reserved </b>
    </span>
  </div>

</nav>