<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top p-3">
  <a class="navbar-brand" href="#"><h1>KM</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#home" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">About Me</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Portfolio</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Blog</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid bg-dark text-white" id="home">
  <h3 class="border">Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Aliquid enim doloribus qui sit aperiam in sunt nisi, 
     harum ea vel dignissimos excepturi,
     fugiat cupiditate vero consequatur animi ullam, 
     ratione inventore?
    </h3>
</div>

<div class="card">
  <div class="card-header">
    header
  </div>
  <div class="card-body">
    content
  </div>
  <div class="card-footer">
    footer
  </div>
</div>
